<h1>Pizza Perfect</h1>

<div>
  <div class='cart'>
    <h3>Shopping Cart</h3>

    <img src='shopping-cart.png' alt='' />
    <br />
    <br />
    <strong>Small pizzas total:</strong>
    <span class='smallTotalPrice'>{{smallPizza}}</span>
    <br />
    <br />
    <strong>Medium pizzas total:</strong>
    <span class='mediumTotalPrice'>{{mediumPizza}}</span>
    <br />
    <br />
    <strong>Large pizza total:</strong>
    <span class='largeTotalPrice'>{{largePizza}}</span>
    <br />
    <br />
    <strong>Total price</strong>
    <span class='totalPrice'>{{overallTotal}}</span>
  </div>
  <form action='/buy' method='get'>
    {{! <div class='counter'>
    </div>
    <input type='submit' value='Press button to count' /> }}
    <div class='pizzas'>
      <div class='pizza medium'>
        <div class='info'>
          <img src='pizza.png' alt='' />
          <h2>Medium Pizza</h2>
          <strong>R65.00</strong>

          <div>
            medium margeritha pizza with 3 toppings max. 2 or less meat topping.
            3 or less other toppings.
          </div>
        </div>

        <div class='orderBox'><button
            class='btn orderMediumPizza'
            style='margin-left: auto'
            type='submit'
            name='action'
            value='medium'
          >Order medium pizza</button>
        </div>

      </div>
      <div class='pizza large'>
        <div class='info'>
          <img src='pizza.png' alt='' />
          <h2>Large Pizza</h2>
          <strong>85.00</strong>
          <div>
            large margeritha pizza with 3 toppings max. 3 meat toppings max. 3
            or less other toppings.
          </div>
        </div>
        <div class='orderBox'>
          <button
            class='btn orderLargePizza'
            style='margin-left: auto'
            type='submit'
            name='action'
            value='large'
          >Order large pizza</button>
        </div>
      </div>
      <div class='pizza small'>
        <div class='info'>
          <img src='pizza.png' alt='' />
          <h2>Small Pizza</h2>
          <strong>35.00</strong>
          <i>
            <ul>
              <li>small pizza with 3 toppings</li>
              <li>1 meat topping.</li>
              <li>3 or less other toppings.</li>
            </ul>
          </i>
        </div>
        <div class='orderBox'>
          <button
            class='btn orderSmallPizza'
            style='margin-left: auto'
            name='action'
            type='submit'
            value='small'
          >Order small pizza</button>
        </div>
      </div>
    </div>

  </form>

</div>