<h1>Pizza lovers</h1>
<h2>Please register below and order your favourite pizza</h2>

<h1>Register</h1>

<form action='/register' method='POST'>
  <input type='text' name='name' placeholder='Please enter name' />
  <input type='text' name='username' placeholder='Please enter username' />
  <input type='text' name='password' />
  <input type='submit' value='Register' />
</form>